
/* UI Object */
.form_table{margin:1em 0;font-size:12px;font-family:Tahoma, Geneva, sans-serif}
.form_table input,
.form_table textarea,
.form_table select,
.form_table table,
.form_table button{font-size:12px}
.form_table table{width:100%;border:0;border-top:2px solid #999}
.form_table caption{padding:8px 0;font-weight:bold;text-align:left}
.form_table th,
.form_table td{padding:8px;border:0;vertical-align:top}
.form_table th{color:#333}
.form_table td{color:#666}
.form_table thead th{border-bottom:1px solid #ccc;background:#f8f8f8}
.form_table tbody th{border-bottom:1px solid #ddd;background:#fafafa;text-align:left}
.form_table tfoot th{border-bottom:1px solid #ddd}
.form_table tbody td{border-bottom:1px solid #ddd}
.form_table tfoot td{border-bottom:1px solid #ddd;font-weight:bold;color:#333}
.form_table .item{position:relative;margin:-4px 0}
.form_table .item .i_help{position:absolute;top:4px;right:0}
.form_table .item .i_label{ top:6px; left:10px}
.form_table .item .i_dsc{margin:2px 0}
.form_table .item .i_check,
.form_table .item .i_radio{width:13px;height:13px;margin:2px 5px 2px 0;padding:0;vertical-align:middle}
.form_table .item .i_text{position:relative;margin:2px;padding:3px 4px;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;background:transparent}
.form_table .item select{margin:2px}
.form_table .item label{margin:0 10px 0 0;cursor:pointer}
.form_table .item .i_btn{position:relative;margin-left:5px;}

.i_btn{cursor:pointer;_cursor:hand;}
.i_btn *:hover,
.i_btn *:active,
.i_btn *:focus{color:#690;}

